@use 'variaveis';

.hero {
    background-image: url(../images/myniver.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 350px;
    position: relative;

    @media (max-width: 640px) {
        background-position: right;

        .hero {
            

            &__title {
                font-size:  68px;

            span {
                font-size: 24px;
            }
            }
        }
    }

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #302e94aa;
        content: '';
    }

    &__title {
        padding-top: 24px;
        padding-bottom: 60px;
        text-align: center;
        text-shadow: 1px 1px 1px variaveis.$corBlack;
        font-size: 68px;
        font-family: Fun-Party;

        span {
            color: variaveis.$corAqua;
            font-size: 36px;
        }
    }
}