@use 'hero';
@use 'invite';
@use 'aniversario';
@use 'variaveis';

@font-face {
    font-family: Fun-Party;
    src: url(../../assets/fonts/miraculous.ttf);
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    list-style: none;
    color: variaveis.$corText;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}